@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F5F5 !important;
}
.navbar-container{
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-container > .navbar-logo{
    flex: 80%;  
}

.navbar-logo > img {
    width: 80px;
    height: 80px;
    border-radius: 100px;  
}
.navbar-icons {
    flex: 20%;
}
.navbar-logo > span{
    position: absolute;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.4rem;
}
.navbar-icons > :first-child{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.navbar-icons > :last-child{
    width: 50px;
    height: 50px;
}

@media (max-width: 1000px) {
  
    .navbar-logo{
        flex: 70%;
    }
    .navbar-icons{
        flex: 30%;
    }
    .navbar-logo > span{
        visibility: hidden;
    }
    .navbar-logo > img {
        width: 5rem;
        height: 5rem;
        border-radius: 100px;  
    }
   
    /* .navbar-logo > span {
        visibility: hidden;
    } */
    .navbar-icons > :first-child {
        width: 2rem;
        height: 2rem;
    }
    .navbar-icons > :last-child {
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 483px){
    .navbar-logo{
        flex: 20%;
    }
    .navbar-icons{
        flex: 80%;
    }
}