@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.home {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}

.shooping-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
@media screen and (max-width: 960px) {

  .home{
    flex-direction: column;
    justify-content: center;
  }

  .shooping-cart{
    justify-content:flex-start;
  }

}

