@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F5F5 !important;
}
.navbar-container{
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-container > .navbar-logo{
    flex: 80%;  
}

.navbar-logo > img {
    width: 80px;
    height: 80px;
    border-radius: 100px;  
}
.navbar-icons {
    flex: 20%;
}
.navbar-logo > span{
    position: absolute;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.4rem;
}
#favorites-icon{
    width: 3rem;
    height: 3rem;
}

#cart-icon{
    width: 3rem;
    height: 3rem;
}

.badge {
    padding-left: 1rem;
    padding-right: 10rem;
    border-radius: 10rem;
}



#lblCartCount {
    font-size: 20px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

.space-between {
    padding: 0 2rem;
}

.cart {
    cursor: pointer;
}

.cart span:nth-child(2) , span:nth-child(5){
    padding: 0 0.4rem;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 1rem;
    position: relative;
    top: -1.2rem;
}

@media (max-width: 448px){
    .navbar-logo > span{
        visibility: hidden;
    }
    .navbar-logo{
        flex: 10% !important;
    }
    .navbar-icons{
        flex: 20% !important;
    }
  
}

@media (max-width: 483px){
    .navbar-logo > span{
        visibility: hidden;
    }
    .navbar-logo{
        flex: 20% !important;
    }
    .navbar-icons{
        flex: 50% !important;
    }
}

@media (max-width: 770px){
    .navbar-logo > span{
        visibility: hidden;
    }
  
    .navbar-logo{
        flex: 40% !important;
    }
    .navbar-icons{
        flex:10% !important;
    }

  
}

@media (max-width: 1204px){
    .cart span:nth-child(2) , span:nth-child(5){
        padding: 0 0.4rem !important;
      
        top: -1rem !important;
    }
    .space-between {
        padding: 0 1rem !important;
    }
}

@media (max-width: 1024px ) {
    .cart span:nth-child(2) , span:nth-child(5){
        padding: 0 0.1rem;
        font-size: 1rem;
        top: -1rem;
    }
    .space-between {
        padding: 0 1.5rem;
    }
    .navbar-logo{
        flex: 70%;
    }
    .navbar-icons{
        flex: 30%;
    }
    
    .navbar-logo > img {
        width: 5rem;
        height: 5rem;
        border-radius: 100px;  
    }
   
    #favorites-icon {
        width: 2rem;
        height: 2rem;
    }
    #cart-icon {
        width: 2rem;
        height: 2rem;
    }
}
